@import "layout/main-header";

.metronic-sortable-card {

    .pagination {

        padding: 0 !important;
        margin: 0 !important;
    }
}

.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.input-group-prepend {
     .input-group-text {

         min-width: 45px;
         align-items: center;
         justify-content: center;
     }
}

.select2-selection, .select2-search {
    min-height: 38px;
}

.select2-selection--single {
    min-height: 38px;

    .select2-selection__rendered {
        margin-top: -4px !important;
    }
    .select2-selection__arrow {
        margin-top: 3px !important;
    }

    .select2-selection__choice {
        margin-top: 9px !important;
    }
}

.select2-selection--multiple {
    .select2-selection__rendered {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.ck-editor__editable_inline {
    min-height: 200px;
}

.form-info-text {
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
}
@media screen and (max-width: 575px) {
    .form-info-text {
        position: relative !important;
    }
}

.card-header>.card-tools .btn-group {
    margin-bottom: -.3rem !important;
    margin-top: -.3rem !important;
}

.navbar-nav .navbar-badge {
    margin-top: -9px !important;
}
.select2-container{
    display:block !important;
    //width: calc(100% - 45px) !important;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.select2-container--default .select2-selection--multiple.text-sm .select2-selection__choice, .text-sm .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 0.5rem !important;
}

.text-sm .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search.select2-search--inline .select2-search__field, select.form-control-sm~.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search.select2-search--inline .select2-search__field {
    margin-top: 10px !important;
}

.nav-sidebar .nav-link p {
    display: inline-block;
    margin: 0;

    -webkit-animation-name: none !important;
    animation-name: none !important;
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important;
}

//.card-body:not(.p-0) form .nav-tabs {
//    margin: 0 -21px 0 -21px !important;
//}
//
//.card-body:not(.p-0) form .tab-content {
//    margin: 0 -16px 0 -16px !important;
//}

.search_result {
    position: absolute;
}

.cmd_out pre {
    color: #ddd;
    padding: 0 !important;
    margin: 0 !important;
}

.refresh_modal {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    float: right;
    font-size: 15px;
    font-weight: bolder;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.input-group .select2 {
    flex-grow: 1 !important;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    border-radius: 0 0.42rem 0.42rem 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    margin: 0.5rem 0.4rem 0.1rem 0 !important;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 9px !important;
}