.main-header {

    .language_dropdown {

        .dropdown-menu {

            min-width: auto !important;
        }
    }
}
.layout-navbar-fixed.layout-fixed.text-sm .wrapper .sidebar{
    margin-top: 0px !important;
}

.user-panel img {
    width: 2rem;
    margin-top: 9px;
}
